
* {
    margin:0;
    padding:0;
}

.container, .top {
    display: flex;
    justify-content: space-between;
}

.header {
    display:flex;
    background: #1F2937;
    color: white;
    padding: 8px 250px 8px;
    flex-direction: column;
}

.logo {
    border-radius: 50%;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;
    margin-left: 12px;
}


.container {
    display: flex;
    padding: 36px 0 36px;
    gap:20px;
}
.h-content {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
}
.heropic {
    flex-grow: 1;
    max-width: 580px;
}

.button {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.Sign-up {
    border-radius: 5px;
    border: #3883f6;
    background-color: #3883f6;
    color: #F9FAF8;
    padding: 4px 20px;
    text-align: center;
}


.h-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.h-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 8px;
}